/* Variables */
$gray1: #f9f9f9;
$gray2: #e8e8e8;
$gray3: #d9d9d9;
$gray4: #8c8c8c;
$gray5: #333333;
$gray6: #272727;
$white: #ffffff;

/* Components (Can also defined in <Component>.scss) */
$app-bg-color: $gray1;
$border-color: $gray2;
$navbar-bg-color: $gray6;
$list-header-font-color: $gray4;
$list-header-border-color: $gray3;
$editor-bg-color: $white;
$editor-border-color: $gray2;

