aniso8601==1.1.0
chardet==2.0.1
click==6.6
colorama==0.2.5
dnspython==1.11.1
Flask==0.11.1
Flask-Cors==2.1.2
Flask-RESTful==0.3.5
gyp==0.1
html5lib==0.999
iotop==0.6
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
nltk==3.2.1
Pattern==2.6
pycrypto==2.6.1
python-dateutil==2.5.3
pytz==2016.4
requests==2.2.1
six==1.5.2
urllib3==1.7.1
Werkzeug==0.11.10
