.navbar {
	border: none;
	border-bottom: 1px solid $border-color;
	border-radius: 0;
	margin: 0;
	background: $navbar-bg-color;
}

.checkGrammar {
	background: #38B87C;
	color: white;
	border: none;

	&:hover {
		background: #32a46f;
		color: white;
	}

	&:focus {
		outline: none;
		color: white;
	}
}